<div class="container">
    <div class="row">
      <div class="col-md-6">
  
        <h2>Select below to order</h2>
        <!--     Begin Form -->
        <form method="post" action="/api/v1/food"  >
          <select name="food" id="" class="form-control">
            <option value="Pizza">Pizza</option>
            <option value="Burger">Burger</option>
            <option value="Mo:mo">Mo:mo</option>
        </select>
        <input type="submit"  value="Submit" />
        </form>
      </div>
    </div>
  </div>